[Unit]
Description="small-shell.app with Node.js"

[Service]
WorkingDirectory=%%www/app
ExecStart=%%www/app/app.sh
Restart=always

[Install]
WantedBy=multi-user.target
